<div class="content">
  <div class="content-inside">
    <div class="my-4">
      <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
        <li class="nav-item">
          <a style="background-color: #2E9AFE;color: white" class="nav-link active" id="home-tab" data-toggle="tab"
            role="tab" aria-controls="home" aria-selected="false"><b>Auxílio Alimentação - 
              {if="$total == 0"}
              Nenhum Registrado
              {elseif="$total == 1"}
              {$total} Registrado
              {else}
              {$total} Registrados
              {/if}</b></a>

        </li>

      </ul>

          

        <a style="width: 20%;" href="/admin/registrar-beneficios"class="btn btn-primary btn-sm"><i class="fa fa-plus-circle" aria-hidden="true"></i><b> Cadastrar Benefício</b></a>
        <a href="/admin/beneficio/transporte" class="btn btn-info  btn-sm"><i class="fas fa-bus"></i><b> Auxílio Transporte</b></a>

           <button class="btn btn-success  btn-sm" onclick="tableToExcel('Benefício_Alimentação.xls', '#tblExport')">
            <i class="fas fa-file-excel"></i><b> Exportar Excel</b></button>
          <a id="link-to-download" style="display: none;"></a>

      {if="$total > 0"}  
      <div class="search" style="float: right">
        <form action="/admin/beneficio/alimentacao" method="get">
          <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Digite sua pesquisa...">
            <span class="input-group-btn">
              <button class="btn btn" style="background-color: #2E9AFE;color: white" type="submit" id="search-btn"><i
                  class="fa fa-search" style="font-size:13px;"> PESQUISAR</i>
              </button>
            </span>
          </div>
        </form>
      </div><br><br>

        {if="$profileMsg != ''"}
      <div class="alert alert-success">
        <b>{$profileMsg}</b>
      </div>
      {/if}


      <div  id="tblExport" class="table-responsive">
        <table class=" table table-hover table-sm  table-bordered">
          <thead class="table table-dark">
            <tr style="font-size: 16px; font-weight: bold; ">




             
              <th>
                <center>Nome
              </th>

               <th>
                <center>Matrícula
              </th>
               <th>
                <center>CPF
              </th>
              <th>
                <center>Carência
              </th>
              <th>
                <center>Folha
              </th>
              <th>
                <center>Situação
              </th>
               <th>
                <center>Exercício
              </th>
              <th class="remover">
                <center >Visualizar
              </th>
              <th class="remover">
                <center>Excluir
              </th>
             

            </tr>
          </thead>
          <tbody>
            {loop="$beneficios"}
            <tr style="font-size: 15px;font-weight: normal;">

              <td>
                <center>{$value.nome}
              </td>
              <td>
                <center>{$value.matricula}
              </td>
              <td>
                <center>{$value.cpf}
              </td>

              <td>
                <center>{if="$value.carencia == 'Curta'"}
                  <b style="color:red">{$value.carencia}</b>
                  {else}
                   <b style="color:green">{$value.carencia}</b>
                   {/if}
              </td>
              <td>
                <center>{$value.mes}/{$value.ano}
              </td>

              <td>                
                {if="$value.situacao == 'Incluído no Sistema'"}
                <b style="color: green;"><center>{$value.situacao}</b>
                {elseif="$value.situacao == 'Falta Incluir no Sistema'"}
                <b style="color: red;"><center>{$value.situacao}</b>
                {elseif="$value.situacao == 'Ajustar Benefício'"}
                <b style="color: orange;"><center>{$value.situacao}</b>
                {else}
                <b style="color: blue;"><center>{$value.situacao}</b>
                {/if}

              </td>

               <td>                
                {if="$value.exercicio == 'Em Exercício'"}
                <b style="color: green;"><center>{$value.exercicio}</b>
                {elseif="$value.exercicio == 'Finalizado'"}
                <b style="color: red;"><center>{$value.exercicio}</b>
                {elseif="$value.exercicio == 'E. Provisória'"}
                <b style="color: purple;"><center>{$value.exercicio}</b>
                {else}
                <b style="color: orange;"><center>{$value.exercicio}</b>             
                {/if}

              </td>
              
              <td class="remover">    
                <center> <a  href="/admin/beneficios-visualizar/{$value.id_beneficio}"
                  class="btn btn-primary btn-sm"><i class="fas fa-eye" aria-hidden="true"></i><b> </b></a>
              </td>

               <td class="remover">
                  <center>
                    <button
                    onclick="deletar('{$value.id_beneficio}','{$value.nome}','/admin/beneficio/delete/{$value.id_beneficio},{$usuario.nome_user}','Excluir Alimentação')"
                    class="btn btn-danger btn-sm">
                    <i class="fas fa-trash-alt"></i>
                    <b></b></button>
              </td>
           

            </tr>

            {/loop}

          </tbody>

        </table><br>

      </div>



      <center>
        <div class="box-footer clearfix">
          <ul class="pagination">
            {loop="$pages"}
            {if="$pages == $value.link"}
            <li> <a class="active" href="{$value.link}">{$value.page}</a></li>
            {else}
            <li><a href="{$value.link}">{$value.page}</a></li>
            {/if}
            {/loop}
        </div>
      </center>

      {/if}

      <hr class="my-4" />
      <a href="/admin/utilidades" class="btn btn-info btn-xs"><i class="fas fa-chevron-circle-left"></i><b>
          Voltar</b></a>

    </div>


  </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
  


const tableToExcel = (nome, table) => {
    let mimetype = 'application/vnd.ms-excel';
    let link = document.querySelector('#link-to-download');
    let tabela = document.querySelector(table);
    let clone = tabela.cloneNode(true);
    let remover = clone.querySelectorAll('.remover');

    remover.forEach((td) => {
        if (td.parentElement) {
            td.parentElement.removeChild(td);
        }
    });

    
    link.href = window.URL.createObjectURL(new Blob(['\ufeff'+clone.outerHTML], {
        type: mimetype
    }));
    link.download = nome;
    link.click();
};

</script>