<div class="content">
  <div class="content-inside">
    <div class="my-4">
      <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
        <li class="nav-item">
          <a style="background-color: #2E9AFE;color: white" class="nav-link active" id="home-tab" data-toggle="tab"
            role="tab" aria-controls="home" aria-selected="false"><b>Linhas de Ônibus -  {if="$total == 0"}
              Nenhum Registrado
              {elseif="$total == 1"}
              {$total} Registrado
              {else}
              {$total} Registrados
              {/if}
            </b></a>

        </li>

      </ul>



      <a style="width: 30%;" href="/usuario/registrar-linhas" class="btn btn-primary btn-sm"><i
          class="fa fa-plus-circle" aria-hidden="true"></i>
        <b>Cadastrar nova Linha</b></a>




        {if="$total > 0"}
      <div class="search" style="float: right">
        <form action="/usuario/linhas" method="get">
          <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Digite sua pesquisa...">
            <span class="input-group-btn">
              <button class="btn btn" style="background-color: #2E9AFE;color: white" type="submit" id="search-btn"><i
                  class="fa fa-search" style="font-size:13px;"> PESQUISAR</i>
              </button>
            </span>
          </div>
        </form>
      </div><br><br>

      {if="$profileMsg != ''"}
      <div class="alert alert-success">
        <b>{$profileMsg}</b>
      </div>
      {/if}


      <div class="table-responsive">
        <table class=" table table-hover table-sm  table-bordered">
          <thead class="table table-dark">
            <tr style="font-size: 16px; font-weight: bold; ">



              <th>
                <center>Código<b>
              </th>
              <th>
                <center>Cidade<b>
              </th>
              <th>
                <center>Valor<b>
              </th>
              <th>
                <center>Valor Diário<b>
              </th>
              <th>
                <center>Alterar<b>
              </th>
              <th>
                <center>Excluir<b>
              </th>

            </tr>
          </thead>
          <tbody>
            {loop="$linha"}
            <tr style="font-size: 15px;font-weight: normal;">



              <td>
                <center>{$value.codigo}
              </td>
              <td>
                <center>{$value.cidade_linha}
              </td>
              <td>
                <center>R$ {function="formatValor($value.valor)"}
              </td>

              <td>
                <center>R$ {function="formatValor($value.valor_diario)"}
              </td>


              <td>
                <center>

                  <a href="/usuario/linhas/editar/{$value.id_linha}" class="btn btn-success btn-sm"><i
                      class="fas fa-pen"></i>
                    <b></b></a>

              </td>

              <td>
                <center>
                  <button
                    onclick="deletar('{$value.id_linha}','{$value.cidade_linha}','/usuario/linhas/delete/{$value.id_linha}','Excluir Linha')"
                    class="btn btn-danger btn-sm">
                    <i class="fas fa-trash-alt"></i>
                    <b></b></button>
              </td>


            </tr>

            {/loop}

          </tbody>

        </table><br>

      </div>



      <center>
        <div class="box-footer clearfix">
          <ul class="pagination">
            {loop="$pages"}
            {if="$pages == $value.link"}
            <li> <a class="active" href="{$value.link}">{$value.page}</a></li>
            {else}
            <li><a href="{$value.link}">{$value.page}</a></li>
            {/if}
            {/loop}
        </div>
      </center>

      {/if}

      <hr class="my-4" />
      <a href="javascript:history.back()" class="btn btn-info btn-xs"><i class="fas fa-chevron-circle-left"></i><b>
          Voltar</b></a>




    </div>


  </div>

</div>